:host {
  display: block;
}

$theme-color: #CEDBF2;

@function pxToRem($px){
  @return ($px/16) + rem
}

.mctcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: pxToRem(24);
  &__header {
    align-self: center;
    background-color: $theme-color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__main{
    width: 100%;
    &__input_phases {
      .input {
        display: flex;
        &__phases{
          flex-grow: 3;
          padding: pxToRem(8);
        }
        &__delimiter{
          flex-grow: 1;
          padding: pxToRem(8);
          margin-left: -2px;
        }
      }
    }
    &__action {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        padding: pxToRem(8);
        margin: pxToRem(8) 0;
        border-radius: pxToRem(4);
      }
    }
    &__panel {
      display: flex;
      width: 100%;
      &--input-area{
        flex: 1 1 50%;
        padding: pxToRem(8);
        min-height: pxToRem(400);
      }
      &--masked-text{
        flex: 1 1 50%;
        background-color: $theme-color;
        padding: pxToRem(8);
        margin: 0;
      }
    }
  }
}