$white: #ffffff;
$black: #000000;

$light-gray: #C4C4C4;

$primary-color: #121212;
$secondary-color: #6D7278;

$theme-color: #fa824c;
$theme-color-yellow: #fbbd08;

$danger: red;
$success: green;
$link-color: #2874f0;