$white: #ffffff;
$black: #000000;

$light-gray: #C4C4C4;

$primary-color: rgb(212, 242, 255);
$primary-color-dark: #8bcce9;
$secondary-color: #e3c9f2;

$theme-color: $primary-color;
$theme-image: linear-gradient(45deg, rgba(189, 156, 207, 0) 50%, rgba(189, 156, 207, 1)); //#CEDBF2;

$danger: red;
$success: green;
$link-color: #2874f0;